html,
body {
	height: 100%;
}


body {
	background: url('../img/body.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	/*	wycentrowanie w poziomie*/
	justify-content: center;
	/*	wycentrowanie w pionie*/
	align-items: center;

}

/*appa container*/

.app-container {
	max-width: 450px;
	width: 100%;
	padding: 25px;
	/*	0.7-przezroczystość*/
	background: rgba(255, 255, 255, 0.7);
	/*	cień*/
	box-shadow: 0 0 62px rgba (0, 0, 0, 0.1);
}

.app-container h3 {
	margin: 0 0 25px;
}

/*new task*/

.new-task-container {
	margin-bottom: 20px;
}

/*task list*/

.tasks-container ul {
	margin: 0;
	padding: 0;
	/*	usunięcie punktów powstałych przy użytciu ul*/
	list-style: none;
}

.single-task {
	margin-bottom: 12px;
}
