*
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 10px;
}
tr td, tr th
{
	padding: 5px;
}
.wycentrowaneKomorki
{
	text-align: center;
}
.wzor1
{
	background-color: #CCA;
}
.wzor2
{
	background-color: #BBA;
}
.podswietlenie
{
	background-color: #EEA;
	font-weight: bold;
}
