*
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 10px;
}
tr td, tr th
{
	padding: 5px;
}
.wycentrowaneKomorki
{
	text-align: center;
}
.wzor1
{
	background-color: #CCA;
}
.wzor2
{
	background-color: #BBA;
}
.podswietlenie
{
	background-color: #EEA;
	font-weight: bold;
	cursor: pointer;
}
.box
{
	width: 350px;
	height: 350px;
	background-color: #222;
	padding: 15px 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AAA;
	border: 1px solid #AAA;
	position: relative;
}