
.container{
    width: 1200px;
    height: 700px;
    background: grey;
}
#card {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#card img {
    width: 300px;
    height: auto;
    cursor: pointer;

}

#card .front img {
    position: absolute;
    z-index: 444;
}

#card .back img {
    position: absolute;
}

