.zmienKolor {
	color: red;
}

#tooltip {
	display: none;
	background-color: teal;
	position: absolute;
}

#test {
	background-color: red;
	height: 50px;
	width: 300px;
}

#pogrubiony {
	background-color: yellow;
	height: 50px;
	width: 150px;
}

#przycisk {
	background-color: teal;
}
