.thumbnail {
	width: 60px;
}

.thumbnail:hover {
	border-bottom: 10px solid black;
	margin-bottom: -2px;
}

#mainImage {
	width: 80px;
	height: 100px;
	margin: 10px;
}

.current {
	border-bottom: 10px solid black;
	margin-bottom: -2px;
}
